/*Estilos del cuerpo de la página*/
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: rgb(47, 45, 45);
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}

/*Estilos de los titulos*/
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

h2{
    font-size: 1.3em;
	line-height: 1.3em;
	margin: 5px 0;
	text-align: center;
	font-weight: 300; 
}

h3{
    font-size: 1.3em;
	line-height: 1.5em;
	margin: 10px 0;
	font-weight: 300; 
    color:rgb(56, 73, 171);
	position: relative;
	text-align: center;
     
}


p {
	margin: 0 0 1.5em 0;
}

/*Estilo de la imagen*/
img {
	max-width: 40%;
	height: auto;
    border-radius: 50%;
    display: block;
    margin: auto;
}


/*Tamaño de las lineas en la página*/
hr{
	width: 70%;
}


/*Estlos de la tabla y las celdas*/
table {
	width: 100%;
	border: 2px solid rgb(56, 73, 171);
	margin-left: auto;
	margin-right: auto;
 }

 th, td {
	width: 15%;
	text-align: center;
	border: 1px solid rgb(56, 73, 171);;
	padding: 0.2em;
	background-color: rgb(181, 190, 239);
	color: rgb(47, 45, 45);

 }

 th {
	background: rgb(56, 73, 171);
	color:rgb(255, 255, 255);
 }

 /*Estilo de la sección para el contador*/
 .count {
	display:inline-flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
  }

/*Estilo para los elementos del contador*/
  .countdown {
	display: flex;
	justify-content: space-around;
	text-align: center;
  }

/*Estilo para los números del contador (días, horas, minutos y segundos*/
  .day,
  .hour,
  .minute,
  .second {
	font-size: 2rem;
	width: 6rem;
	height: 6rem;
	border-radius: 40%;
	background: rgb(56, 73, 171);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  	margin:0px auto;
	color: white;
  }
  
/*Estilos para el tamaño, y alineación del video*/
 .video {
	position: relative;
	overflow: hidden;
	width: 100%;
	text-align: center;
 }

 .video iframe{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
 }

/*Estilo de la cabecera*/
#main-header {
	background: rgb(56, 73, 171);
	color: white;
	height: 80px;
	width: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

}	
/*Estlo de los elementos de la cabecera*/
	#main-header a {
		color: rgb(255, 255, 255);
	}


    #head {
        float: left;
        padding: 10px 0 0 20px;
        text-decoration: none;
    }
		/*Estilo del sobreado de los elementos de la cabecera*/
        #head:hover {
            color: #2e6dd3;
        }
        
		/*Estilo del tamañao principal de la cabecera*/
        #head .site-name {
            display: block;
            font-weight: 300;
            font-size: 1.6em;
        }
		/*Estilo de los elementos de la navegación dentro de la cabecera*/
        nav {
            float: right;
        }
            nav ul {
                margin: 0;
                padding: 0;
                list-style: none;
                padding-right: 20px;
            }
            
                nav ul li {
                    display: inline-block;
                    line-height: 80px;
                }
                    
                    nav ul li a {
                        display: block;
                        padding: 0 10px;
                        text-decoration: none;
                    }
                    
                        nav ul li a:hover {
                            background: #0b76a6;
                        }
/*Estilo del contenido de la página*/
#main-content {
	background: white;
	width: 80%;
	max-width: 1200px;
	margin: 100px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

	#main-content header,
	#main-content .content {
		padding: 40px;
	}

/*Estilo del pie de página asi como los iconos de redes sociales*/
#main-footer {
	background: rgb(56, 73, 171);
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer table{
		text-align: center;
		width: 50%;

	}

	#main-footer td{
		background-color: rgb(56, 73, 171);
	}